@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 33rem;
  height: 50rem;
  background: #8ca598;
  border-radius: 50px;
  animation: fadeIn 2s;
}

.img {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 27rem;
  height: 30rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33rem;
  height: 27rem;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.info p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: black;
}

.info .icon {
  margin-right: 0.5rem;
}

.detail {
  width: 20rem;
  height: 10rem;
  background-color: blue;
  margin-top: 2rem;
}

.stamp {
  position: absolute;
  top: 20rem;
  left: 20rem;
}

@media (min-width: 40rem) {
  .profile {
    flex-direction: row;
    margin: 7rem auto;
    width: 70rem;
    height: 40rem;
  }
  .img {
    position: relative;
    margin-top: 1rem;
    width: 25rem;
    height: 25rem;
    margin-left: 2.3rem;
  }
  .info {
    width: 40rem;
    height: 40rem;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
  }
}
