.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  position: absolute;
  top: 0;
  left: -14rem;
  z-index: 100;
  width: 10rem;
  height: 100%;
  background-color: #0f0f0f;
  padding: 2rem;
  transition: left 0.3s ease;
}

.hamburger li a {
  font-size: 3rem;
  text-decoration: none;
  color: #e5e5e1;
  border-radius: 4px;
  width: 5.5rem;
}

.open {
  left: 0;
}
