.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
}

.footer button {
  all: unset;
  font-size: 2rem;
}

.footer a {
  color: #e5e5e1;
  text-decoration: none;
}

.footer .usermanu {
  display: flex;
  align-items: center;
}

.usermanu button {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2rem;
}

.disconnect {
  display: flex;
  align-items: center;
}

.disconnect button {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 0;
}

@media all and (min-width: 1024px) {
  .usermanu form {
    height: 62.5px;
  }
  .usermanu a {
    height: 62.5px;
  }
  .footer a {
    color: #e5e5e1;
    text-decoration: none;
  }
  .disconnect button {
    display: block;
  }
  .footer button {
    font-size: 3rem;
  }
  .footer {
    box-sizing: border-box;
    height: 7rem;
  }
}
