.header {
  width: 100%;
  height: 3rem;
  padding: 2rem;
  background-color: black;
}

.header .hambugerbtn {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}

@media all and (min-width: 1024px) {
  .header {
    display: none;
  }
}
