.joinform {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18rem;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1.5rem 0;
}

.joinform h1 {
  color: white;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1.3rem;
}

.joinform label {
  color: white;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.joinform input {
  color: white;
  border: none;
  width: 12rem;
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  background: #222222;
}

.joinform p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.joinform button {
  all: unset;
  text-align: center;
  border: 1px solid white;
  width: 12rem;
  font-size: 1rem;
  color: white;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.joinform a {
  all: unset;
  text-align: center;
  font-size: 0.7rem;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
}

.errorMessage {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: rgb(170, 0, 0);
}

@media all and (min-width: 1024px) {
  .joinform {
    margin: 2rem auto;
    width: 40rem;
    height: 40rem;
  }
  .joinform p {
    margin-bottom: 2rem;
  }
  .joinform h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
  .joinform label {
    font-size: 2rem;
  }
  .joinform button {
    font-size: 2rem;
    width: 28rem;
  }
  .joinform input {
    font-size: 2rem;
    width: 28rem;
  }
  .joinform a {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .errorMessage {
    font-size: 1.2rem;
  }
}
