.joinform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 18rem;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1.5rem 0;
  margin-top: 4rem;
}

.joinform h1 {
  color: white;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1.3rem;
}

.joinform label {
  color: white;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.joinform input {
  color: white;
  border: none;
  width: 12rem;
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  background: #222222;
}

.joinform p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.joinform button {
  all: unset;
  text-align: center;
  border: 1px solid white;
  width: 12rem;
  font-size: 1rem;
  color: white;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.joinform a {
  all: unset;
  text-align: center;
  font-size: 0.7rem;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
}

.errorMessage {
  margin: 0;
  font-size: 1.3rem;
  color: rgb(170, 0, 0);
}

@media all and (min-width: 1024px) {
  .joinform {
    margin: 0 auto;
    width: 46rem;
    height: 47rem;
  }
  .joinform h1 {
    font-size: 3rem;
  }
  .joinform label {
    font-size: 1.7rem;
  }
  .joinform button {
    width: 27rem;
  }
  .joinform input {
    width: 27rem;
  }
}
