.loginform {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  width: 30rem;
  border: 1px solid white;

  padding: 2rem 0;
  border-radius: 20px;
}

.loginform h1 {
  color: white;
  /*font-size: 3.5rem;*/
  font-size: 2.8rem;
  margin-top: 0;
  /*margin-bottom: 1.7rem;*/
  margin-bottom: 1rem;
}

.loginform label {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.loginform input {
  color: white;
  border: none;

  width: 20rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  background: #222222;
}

.loginform p {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.loginform button {
  all: unset;
  text-align: center;
  border: 1px solid white;

  width: 20rem;
  font-size: 1.5rem;
  color: white;
  padding: 0.7rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.errorMessage {
  margin: 0;
  font-size: 1.3rem;
  color: rgb(170, 0, 0);
}

@media all and (min-width: 1024px) {
  .loginform {
    margin: 3rem auto;
    width: 46rem;
    height: 34rem;
    padding: 4rem 0;
  }
  .loginform h1 {
    font-size: 3.5rem;
    margin-bottom: 1.7rem;
  }
  .loginform input {
    width: 27rem;
  }
  .loginform button {
    width: 27rem;
  }
}
