.loginform {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1.5rem 0;
  width: 18rem;
  border: 1px solid white;
  border-radius: 20px;
}

.loginform h1 {
  color: white;
  font-size: 1.3rem;
  margin-top: 0;
}

.loginform label {
  color: white;
  font-size: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}

.loginform input {
  color: white;
  border: none;
  width: 12rem;
  padding: 0.2rem;
  font-size: 1remƒ;
  border-radius: 10px;
  outline: none;
  background: #222222;
}

.loginform p {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.loginform button {
  all: unset;
  text-align: center;
  border: 1px solid white;
  width: 12rem;
  font-size: 1rem;
  color: white;
  padding: 0.3rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.errorMessage {
  margin: 0;
  font-size: 0.7rem;
  color: rgb(170, 0, 0);
}

@media all and (min-width: 1024px) {
  .loginform {
    margin: 1rem auto;
    width: 40rem;
    height: 32rem;
  }
  .loginform p {
    margin-bottom: 2rem;
  }
  .loginform h1 {
    font-size: 3.5rem;
    margin-top:1rem;
  }
  .loginform label {
    font-size: 2rem;
  }
  .loginform input {
    font-size: 2rem;
    width: 27rem;
  }
  .loginform button {
    width: 27rem;
    font-size: 2rem;
  }
  .errorMessage {
    font-size: 1.2rem;
  }
}
