.cut {
  margin: auto;
  color: white;
  text-align: center;
}

.cut h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cut p {
  font-size: 0.8rem;
  margin-bottom: 4rem;
}

@media all and (min-width: 1024px) {
  .cut {
    margin-top: 16rem;
  }
  .cut h1 {
    font-size: 5rem;
  }
  .cut p {
    font-size: 2rem;
    margin-bottom:0;
  }
}
