.footer {

  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 3rem;
}

.footer a {
  color: #e5e5e1;
  text-decoration: none;
}

.footer .i {
  display: flex;
}

.i p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2rem;
}

.disconnect p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 0;
}
