.header {
  padding: 4rem;
}

.header ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 3rem;
}

.header ul a {
  text-decoration: none;
  color: #e5e5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.header ul a:hover,
.header ul a.active {
  background-color: #bcbcb7;
  color: #181817;
}
