@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news {
  overflow-y: scroll;
  width: 100%;
  display: grid;
  color: white;
  height: 93%;
  animation: fadeIn 2s;
}

.news a {
  all: unset;
}

.news h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.news h3 {
  margin-right: 4rem;
  text-align: end;
  font-size: 1.4rem;
  color: white;
}

.news ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  gap: 2rem;
  padding-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.news li {
  cursor: pointer;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid rgb(81, 81, 81);
}

.news h2 {
  font-size: 1.8rem;
}

.news p {
  font-size: 1.3rem;
}

/* 넓이가 40rem 보다 같거나 클때 작용
@media (min-width: 40rem) {
  .news {
    height: 70%;
  }
  .news h1 {
    font-size: 5rem;
  }
  .news h3 {
    margin-right: 6rem;
    text-align: end;
    font-size: 2rem;
    color: white;
  }
  .news ul {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;padding-bottom: 5rem;
  }
  .news li {
    height:20rem;
  }
} */

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  .news {
    height: 70%;
  }
  .news h1 {
    font-size: 5rem;
  }
  .news h3 {
    margin-right: 6rem;
    text-align: end;
    font-size: 2rem;
    color: white;
  }
  .news ul {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  .news li {
    height: 20rem;
  }
}
