@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progressBar {
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  width: 20rem;
  height: 25px;
  border: 3px solid white;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: white;
  animation: progress 2s linear forwards;
}
