@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fadeIn 3s;
  padding: 0 2rem;
  background-color: black;
  overflow-y: scroll;
}

.image {
  width: 100%;
  height: 30rem;
  position: relative;
}

.explanation {
  width: 100%;
  color: white;
  margin-top: 1.3rem;
}

.explanation h1 {
  font-size: 2rem;
}

.explanation p {
  margin-top: 1rem;
  font-size: 1rem;
}

@media all and (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
  .image {
    width: 45%;
  }
  .explanation {
    width: 55%;
    position: absolute;
    bottom: 9rem;
    right: 5rem;
    margin-left: 3rem;
  }
  .explanation h1 {
    font-size: 4rem;
  }
  .explanation p {
    font-size: 1.5rem;
  }
}
