@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fadeIn 3s;
  padding: 0 2rem;
}

.image {
  width: 100%;
  height: 50rem;
  position: relative;
}

.explanation {
  width: 100%;
  color: white;
  overflow-y: scroll;
  height: 30rem;
}

.explanation h1 {
  font-size: 4rem;
}

.explanation p {
  font-size: 1.5rem;
}

.test {
  color: red;
}

/* 넓이가 40rem 보다 같거나 클때 작용 */
@media all and (min-width: 1024px) {
  .main {
    flex-direction: row;
    height: 70%;
  }
  .image {
    width: 45%;
  }
  .explanation {
    width: 55%;
    position: absolute;
    bottom: 9rem;
    right: 5rem;
    margin-left: 3rem;
  }
}
